[project]
	description = micro demo
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/liusong1220
[access "refs/for/refs/*"]
	read = group user/liusong1220
	push = group user/liusong1220
	label-Code-Review = -2..+2 group user/liusong1220
	label-Verified = -1..+1 group user/liusong1220
	rebase = group user/liusong1220
	removeReviewer = group user/liusong1220
	submit = group user/liusong1220
[access "refs/heads/*"]
	read = group user/liusong1220
	create = group user/liusong1220
	push = +force group user/liusong1220
	pushMerge = group user/liusong1220
[access "refs/tags/*"]
	push = +force group user/liusong1220
	pushTag = group user/liusong1220
	pushSignedTag = group user/liusong1220
